body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

a,
h1 {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  margin-top: 10px;
  min-width: 100%;
}

h1 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px 0;
  margin: 20px auto;
  width: 180px;
  font-weight: 400;
}

.container {
  max-width: 400px;
}

img {
  max-width: 20%;
  margin: 0 40% 0px 40%;
  position: relative;
  top: 5px;
}
