body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

a,
h1 {
  color: #fff;
  min-width: 100%;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container {
  max-width: 400px;
}

img {
  max-width: 20%;
  margin: 0 40% 0px 40%;
  position: relative;
  top: 5px;
}
